<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Utama</title>

  <!-- bootstrap css -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

  <!-- style css -->
  <link rel="stylesheet" href="../assets/css/all.css">
  <link rel="stylesheet" href="../assets/css/halaman_utama.css">

</head>

<body>

  <!-- runing text -->
  <!-- masih belum dibuat -->
  <!-- end running text -->

  <div class="container-md-fluid  overflow-hidden">

    <!-- navigasi -->
    <div class="row bg-white pt-2 pb-2">

      <div class="col-md-2 text-center">
        <img src="../assets/images/logoBaim.png" class="img-fluid" id="logo" alt="Responsive image">
      </div>

      <div class="col-md-5">
        <h1>MASJID BAITUL ILMI</h1>
        <img src="../assets/images/logoItera.png" class="float-left" alt="">
        <h4>INSITITUT TEKNOLOGI SUMATERA</h4>
      </div>

      <div class="col-md-5">
        <div>
          <ul class="nav">
            <li class="nav-item">
              <a href="#" class="nav-link">BERANDA</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">TENTANG</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">PELAYANAN</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">KONTAK</a>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <!-- end navigasi -->

  </div>

  <!-- carousel -->

  <!-- end carousel -->

  <!-- card donasi -->
  <div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row text-white justify-content-center mb-2">
          <div class="col-1"></div>
          <div class="col-4">
            <p>"Barangsiapa meminjamkan kepada Allah dengan pinjaman yang baik, maka Allah akan mengembalikannya
              berlipat
              ganda untuknya, dan baginya pahala yang mulia."(QS. Al-Hadid:11)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <img src="../assets/images/masjid.png" class="img-masjid" alt="masjid">
          </div>
          <div class="col-3">

          </div>
          <div class="col-6 text-center text-white">

            <h4>Bantu Pembangunan</h4>
            <h4>Masjid Baitul Ilmi ITERA</h4>
            <p>Rp.xxxxxxxx terkumpul dari Rp. xxxxxxx</p>
            <div class="progress">
              <div class="progress-bar bg-dark" role="progressbar" style="width: 50%" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100">50%
              </div>
            </div>

            <a href="#" class="btn btn-dark m-4">Donasi</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end card donasi -->

  <!-- footer -->
  <div class="card bg-dark">
    <div class="card-title">
      <h2 class="text-center text-white">Kontak Kami</h2>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-4 text-center">
              <img src="../assets/images/peta.png" class="w-75" alt="peta">
            </div>
            <div class="col-5 text-white">
              <p class="mb-0">Jl. Terusan Ryacudu Way Huwi~ 35131</p>
              <p class="mb-0">Tlp. 08xx-xxxx-xxxx</p>
              <p class="mb-0">email: baim@email.com</p>
              <p class="mb-0">www.baim.itera.ac.id</p>
            </div>
            <div class="col-3">
              <h5 class="text-white">Sosial Media</h5>
              <a href="#"><img src="../assets/images/ig_icon.png" alt="ig_baim"></a>
              <a href="#"><img src="../assets/images/fb_icon.png" alt="fb_baim"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end footer -->

  <script src="../assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>