<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>

  <!-- bootstrap -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <!-- css -->
  <link rel="stylesheet" href="../assets/css/all.css">
  <link rel="stylesheet" href="../assets/css/menu_admin.css">

</head>

<body>

  <div class="container">

    <div class="text-center p-4">
      <!-- logo -->
      <img src="../assets/images/logoBaim.png" class="mx-auto d-block" alt="" width="80px">
      <h1>SIBAIM</h1>
      <h6>Sistem Informasi Masjid Baitul Ilmi</h6>
    </div>

    <!-- menu admin -->
    <div class="row justify-content-center">

      <div class="col-lg-5">
        <a href="#">
          <div class="card">

            <h5 class="card-title text-center text-white">Update Donasi</h5>
            <div class="card-body text-center">
              <img src="../assets/images/ikon_menu.png" alt="menu update donasi" class="w-25">
            </div>

          </div>
        </a>
      </div>

      <div class="col-lg-5">
        <a href="#">
          <div class="card">
            <h5 class="card-title text-center text-white">Update Peminjaman inventori masjid</h5>
            <div class="card-body text-center">
              <img src="../assets/images/ikon_menu.png" alt="menu peminjaman inventori" class="w-25">
            </div>
          </div>
        </a>
      </div>

    </div>
    <div class="row justify-content-center">

      <div class="col-lg-5">
        <a href="#">
          <div class="card">
            <h5 class="card-title text-center text-white">Update informasi barang hilang</h5>
            <div class="card-body text-center">
              <img src="../assets/images/ikon_menu.png" alt="menu informasi barang hilang" class="w-25">
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-5">
        <a href="#">
          <div class="card">
            <h5 class="card-title text-center text-white">Update Konten</h5>
            <div class="card-body text-center">
              <img src="../assets/images/ikon_menu.png" alt="menu konten" class="w-25">
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>

  <!-- bootstrap js -->
  <script src="../assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>