/* mobile */
body {
	background-image: url(../images/backgroundPattern.png);
}

.card {
	background-color: rgba(133, 49, 43, 0.8);
}

.t-head {
	background-color: #85312B;
}

.t-body {
	background-color: #E5E5E5;
}

.fotoBarangHilang {
	height: 20vw;
}

h5 {
	font-size: 2.3vw;
}

/* web */
@media (min-width: 768px) {

	.img-masjid {
		width: 150%;
	}

	#logo {
		width: 50%;
	}

	.nav-link {
		color: black;
	}

	.nav-link:hover {
		color: #85312B;
	}

	a.nav-link {
		font-size: 1.5vw;
	}

	h5 {
		font-size: 1.25rem;
	}

	.card {
		background-color: rgba(133, 49, 43, 0.8);
	}

	.fotoBarangHilang {
		height: 20vw;
	}

	.textBarangHilang {
		font-size: 2vw;
	}
}
