/* mobile */
@media (max-width: 576px) {}

/* web */
@media (min-width: 578px) {

	#logo {
		width: 50%;
	}

	.nav-link {
		color: black;
	}

	.nav-link:hover {
		color: #85312B;
	}

	a.nav-link {
		font-size: 1.5vw;
	}

	.img-masjid {
		width: 150%;
	}

	.card {
		background-color: rgba(133, 49, 43, 0.8);
	}

	.t-head {
		background-color: #85312B;
	}

	.t-body {
		background-color: #E5E5E5;
	}

}
